* {
    box-sizing: border-box;
}

#outputSide {
    padding: 20px;
}

.col {
    width: 50%;
    float: left;
}

#output {
    border-style: solid;
    border-width: thin;
    color: green;
    width: 100%;
    height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    padding: 5px;
}

#btnRun {
  font-weight: bold;
  border-radius: 3px;
}

#code, #output {
  resize: none;
}
